@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap");

.Solutions_wrapper {
  position: relative;
}

.section-title_title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title_title h2 {
  color: #ff8e25;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

.work-maintab-section {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

/* Tab Navigation */
.faq_tabs {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 32px;
  border: none;
  padding-bottom: 15px;
}

.tab_button {
  font-size: 1.7vw;
  color: #333;
  padding: 10px 0;
  text-decoration: none;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  opacity: 0.7;
  font-family: "Urbanist", sans-serif;
}

.tab_button:hover {
  opacity: 1;
}

.tab_button.active {
  color: #333;
  font-weight: 600;
  opacity: 1;
}

/* FAQ Content Area */
.faq_list {
  border: 3px solid #efb478;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 45px;
  border-radius: 94px;
  background: #fbfbf7a1;
  backdrop-filter: blur(80px);
  box-shadow: 0px 4px 28px 0px #00000033;
}

.faq_list .faq-inner-wrapper {
  background: #fbfbf7;
  border-radius: 80px;
  padding: 80px;
  max-height: 1080px;
  overflow-y: auto;
}

.faq_item {
  border-bottom: 1px solid #e56e00;
  margin-bottom: 16px;
  transition: all 0.3s;
}

.faq_item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.faq_question {
  padding: 24px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.faq_question h3 {
  margin: 0;
  padding-right: 40px;
  font-family: Roboto, sans-serif;
  transition: color 0.3s;
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}

.faq_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  gap: 46px;
  transition: transform 0.3s ease;
  color: #000000;
}

.faq_icon svg {
  width: inherit;
  height: inherit;
}

.faq_answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0 20px;
}

.faq_answer.show {
  max-height: 1000px;
  opacity: 1;
  padding: 0 20px 15px;
}

.faq_answer p {
  color: #000;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.Solutions_wrapper .section-title_title h2 {
  color: #ff8e25;
  margin-bottom: 0px;
  font-size: 3.2vw;
  font-weight: 900;
}
/* Footer Section */
.faq_footer {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
  padding: 24px 32px;
  display: flex;
}

.faq_footer_text {
  text-align: center;
}

.faq_footer_text h3 {
  color: #333;
  margin: 0 0 8px;
  font-family: "Urbanist", sans-serif;
  font-size: 2.1vw;
  font-weight: 600;
}

.faq_footer_text p {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin: 0;
  font-size: 1.5vw;
  font-weight: 400;
  text-align: left;
}

.talk_button {
  background: #456ce0;
  color: white;
  padding: 10px 65px;
  border-radius: 26px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Urbanist", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0.74px 1.47px 0px #1018280d;
}

.talk_button h4 {
  text-align: center;
  margin: 0;
  font-size: 1.3vw;
  font-weight: 700;
}

.talk_button span {
  color: #ff8e25;
  font-weight: 800;
  font-size: 2.3vw;
}

.faq-vector-shap1 {
  z-index: -1;
  top: -70px;
  right: 0;
}
.faq-vector-shap1 .faq-shap-img1 {
  width: 280px;
  max-width: 400px;
}
#faq {
  overflow: unset;
}
.faq-vector-shap2 {
  bottom: -40px;
  left: -60px;
  z-index: -1;
}
.faq-vector-shap2 .faq-shap-img2 {
  width: 380px;
  height: 500px;
}
.faq-vector-shap3 {
  right: -50px;
  bottom: -100px;
  z-index: -1;
}
.faq-vector-shap3 .faq-shap-img3 {
  width: 200px;
  height: 160px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .Solutions_wrapper .section-title_title h2 {
    font-size: 36px;
  }
  .faq_tabs {
    gap: 26px;
    margin-bottom: 8px;
    padding-bottom: 15px;
  }
  .Solutions_wrapper .section-title_title {
    margin-bottom: 18px;
  }
  .faq_list {
    border: 2px solid #efb478;
    border-radius: 56px;
    padding: 24px;
  }
  .faq_list .faq-inner-wrapper {
    border-radius: 36px;
    padding: 36px;
  }
  .faq_question {
    padding: 18px 20px;
  }
  .faq_question h3 {
    padding-right: 24px;
    font-size: 20px;
  }
  .faq_answer p {
    font-size: 16px;
  }
  .faq_item {
    margin-bottom: 0px;
  }
  .faq_icon {
    width: 24px;
    height: 24px;
  }
  .faq-vector-shap1 .faq-shap-img1 {
    width: 240px;
    height: 400px;
    max-height: unset;
  }
  .faq_footer {
    margin-top: 32px;
    padding: 24px;
  }
  .faq-vector-shap2 .faq-shap-img2 {
    width: 220px;
    height: 460px;
  }
  .faq_footer_text h3 {
    font-size: 24px;
  }
  .faq_footer_text p {
    font-size: 16px;
  }
  .talk_button {
    border-radius: 16px;
    padding: 10px 36px;
  }
  .talk_button h4 {
    font-size: 18px;
  }
  .talk_button span {
    font-size: 28px;
  }
}

/* Responsive Styles */
@media (max-width: 991px) {
  .work-maintab-section {
    padding: 0 20px;
  }

  .faq_list,
  .faq_footer {
    padding: 30px;
    border-radius: 32px;
  }
}

@media (max-width: 767px) {
  .Solutions_wrapper {
    padding: 30px 0;
  }

  .section-title_title {
    margin-bottom: 30px;
  }

  .section-title_title h2 {
    font-size: 28px;
  }

  .faq_tabs {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    flex-wrap: nowrap;
    gap: 18px;
    margin: 0 0 8px;
    padding: 10px 15px;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    max-width: 100%;
  }
  .faq_tabs::-webkit-scrollbar {
    display: none;
  }

  .tab_button {
    font-size: 14px;
    white-space: nowrap;
  }

  .faq_footer {
    flex-direction: column;
    gap: 16px;
    margin: 32px 0px;
    padding: 0px;
  }

  .faq_footer_text {
    text-align: center;
  }

  .faq_footer_text h3 {
    color: #333;
    margin-bottom: 16px;
    font-size: 20px;
  }

  .faq_footer_text p {
    color: #333;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
  }

  .talk_button {
    background: #4169e1;
    border-radius: 16px;
    width: 100%;
    padding: 12px 46px;
  }

  .talk_button h4 {
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
  }
  .talk_button span {
    font-size: 20px;
    text-transform: none;
  }
  .work-maintab-section {
    max-width: 100%;
    padding: 0px;
  }
  .faq_list {
    padding: 20px;
    border-radius: 32px;
    border-width: 1px;
    box-shadow: none;
  }
  .faq_list .faq-inner-wrapper {
    border-radius: 20px;
    padding: 16px;
  }
  .faq_question {
    padding: 0 0 12px;
    gap: 8px;
  }
  .faq_question h3 {
    padding-right: 0px;
    font-size: 14px;
  }
  .Solutions_wrapper .section-title_title h2 {
    font-size: 24px;
  }
  .Solutions_wrapper .section-title_title {
    margin-bottom: 0px;
  }
  .faq_icon {
    width: 20px;
    height: 20px;
  }
  .faq-vector-shap1 .faq-shap-img1 {
    width: 96px;
    height: 310px;
    max-height: unset;
  }
  .faq-vector-shap2 .faq-shap-img2 {
    width: 200px;
    height: 300px;
  }
  .faq-vector-shap3 .faq-shap-img3 {
    width: 140px;
    height: 150px;
  }
  .faq-vector-shap2 {
    bottom: 120px;
  }
  .faq-vector-shap1,
  .faq-vector-shap2,
  .faq-vector-shap3 {
    display: none;
  }
  .faq_answer p {
    font-size: 12px;
  }
  .faq_answer.show {
    padding: 0px 0px 15px;
  }
  .faq_item:last-child .faq_question {
    padding-bottom: 0px;
  }
}
